*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
pubspec.lock
.metadata
.packages
.analysis_options.yaml
.flutter-plugins
.flutter-plugins-dependencies
.ios/Flutter
.dart_tool
